@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
} 
/* 
.heading-text{
    font-size: 70px;
    color: tomato;
} */

.icon-font{
    font-size: 70px;
    color: turquoise;
}

.download{
    height: 100vh;
}